In [1]:
import tensorflow as tf

In [2]:
print(tf.__version__)

2.13.0

In [3]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\s. priyadarshini\anaconda3\lib\site-packages (1.5.16)
Requirement already satisfied: urllib3 in c:\users\s. priyadarshini\anaconda3\lib\site-packages (from kaggle) (1.26.11)
Requirement already satisfied: requests in c:\users\s. priyadarshini\anaconda3\lib\site-packages (from kaggle) (2.28.1)
Requirement already satisfied: bleach in c:\users\s. priyadarshini\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: certifi in c:\users\s. priyadarshini\anaconda3\lib\site-packages (from kaggle) (2022.9.14)
Requirement already satisfied: python-dateutil in c:\users\s. priyadarshini\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: six>=1.10 in c:\users\s. priyadarshini\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: tqdm in c:\users\s. priyadarshini\anaconda3\lib\site-packages (from kaggle) (4.64.1)
Requirement already satisfied: python-slugify in c:\users\s. priyadarshini\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: webencodings in c:\users\s. priyadarshini\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: packaging in c:\users\s. priyadarshini\anaconda3\lib\site-packages (from bleach->kaggle) (21.3)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\s. priyadarshini\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\s. priyadarshini\anaconda3\lib\site-packages (from requests->kaggle) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\s. priyadarshini\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: colorama in c:\users\s. priyadarshini\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\s. priyadarshini\anaconda3\lib\site-packages (from packaging->bleach->kaggle) (3.0.9)

In [4]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import tensorflow as tf

In [5]:
train_data = pd.read_csv(r"D:\kaggle\digit_Recognizer\train_set\train.csv")

In [6]:
train_data.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
test_data=pd.read_csv(r"D:\kaggle\digit_Recognizer\test_csv\test.csv")

In [8]:
test_data.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
test_data.shape

(28000, 784)

In [10]:
train_data.shape

(42000, 785)

In [11]:
train_y=train_data['label'].astype('float')

In [12]:
train_y

0        1.0
1        0.0
2        1.0
3        4.0
4        0.0
        ...
41995    0.0
41996    1.0
41997    7.0
41998    6.0
41999    9.0
Name: label, Length: 42000, dtype: float64

In [13]:
train_x=train_data.drop(['label'],axis=1).astype('int32')

In [14]:
test_x=test_data.astype('float')

In [15]:
train_x.shape,test_x.shape,train_y.shape

((42000, 784), (28000, 784), (42000,))

In [16]:
#converting 784 pixel to 28,28 for grayscale image
train_x=train_x.values.reshape(-1,28,28,1)
train_x=train_x/255

In [17]:
test_x=test_x.values.reshape(-1,28,28,1)

In [18]:
test_x=test_x/255

In [19]:
train_x.shape,test_x.shape

((42000, 28, 28, 1), (28000, 28, 28, 1))

In [20]:
#onehot encoding
train_y =tf.keras.utils.to_categorical(train_y,10)
train_y.shape

(42000, 10)

In [21]:
#printing original labels of top 5 rows
train_data['label'].head()

0    1
1    0
2    1
3    4
4    0
Name: label, dtype: int64

In [22]:
train_y[0:5,:]

array([[0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0.]], dtype=float32)

In [23]:
#defining the model
model = tf.keras.models.Sequential([
  tf.keras.layers.Conv2D(32,(3,3),activation = 'relu', input_shape=(28,28,1)),
  tf.keras.layers.Conv2D(32,(3,3),activation = 'relu'),
  tf.keras.layers.MaxPooling2D(2,2),
  tf.keras.layers.Conv2D(64,(3,3),activation = 'relu',padding = 'Same'),
  tf.keras.layers.Conv2D(64,(3,3),activation = 'relu',padding = 'Same'),
  tf.keras.layers.MaxPooling2D(pool_size = (2,2), strides = (2,2)),
  tf.keras.layers.Dropout(0.25),
  tf.keras.layers.Conv2D(64,(3,3),activation = 'relu',padding = 'Same'),
  tf.keras.layers.Conv2D(64,(3,3),activation = 'relu',padding = 'Same'),
  tf.keras.layers.MaxPooling2D(pool_size = (2,2), strides = (2,2)),
  tf.keras.layers.Dropout(0.25),
  tf.keras.layers.Flatten(),
  tf.keras.layers.Dense(256, activation='relu'),
  #tf.keras.layers.Dropout(0.50),
  tf.keras.layers.Dense(256, activation='relu'),
  tf.keras.layers.Dropout(0.50),
  tf.keras.layers.Dense(10, activation='softmax')
])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 26, 26, 32)        320

 conv2d_1 (Conv2D)           (None, 24, 24, 32)        9248

 max_pooling2d (MaxPooling2  (None, 12, 12, 32)        0
 D)

 conv2d_2 (Conv2D)           (None, 12, 12, 64)        18496

 conv2d_3 (Conv2D)           (None, 12, 12, 64)        36928

 max_pooling2d_1 (MaxPoolin  (None, 6, 6, 64)          0
 g2D)

 dropout (Dropout)           (None, 6, 6, 64)          0

 conv2d_4 (Conv2D)           (None, 6, 6, 64)          36928

 conv2d_5 (Conv2D)           (None, 6, 6, 64)          36928

 max_pooling2d_2 (MaxPoolin  (None, 3, 3, 64)          0
 g2D)

 dropout_1 (Dropout)         (None, 3, 3, 64)          0

 flatten (Flatten)           (None, 576)               0

 dense (Dense)               (None, 256)               147712

 dense_1 (Dense)             (None, 256)               65792

 dropout_2 (Dropout)         (None, 256)               0

 dense_2 (Dense)             (None, 10)                2570

=================================================================
Total params: 354922 (1.35 MB)
Trainable params: 354922 (1.35 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [24]:
#Defining the callback function to stop our training once the acceptable accuracy is reached
class myCallback(tf.keras.callbacks.Callback):
        def on_epoch_end(self, epoch, logs={}):
            if(logs.get('accuracy') > 0.999):
                print("\nReached 99.9% accuracy so cancelling training!")
                self.model.stop_training = True
    
callbacks = myCallback()

In [25]:
#Compiling and model training with batch size = 50, epochs = 20, and optimizer = adam
Optimizer = tf.keras.optimizers.Adam(
            learning_rate=0.0005, 
            beta_1=0.9, 
            beta_2=0.999, 
            epsilon=1e-07,
            name='Adam'
)
model.compile(optimizer=Optimizer, loss='categorical_crossentropy', metrics=['accuracy'])
model.fit(train_x, train_y, batch_size = 50, epochs = 20, callbacks=[callbacks])

Epoch 1/20
840/840 [==============================] - 66s 76ms/step - loss: 0.3412 - accuracy: 0.8857
Epoch 2/20
840/840 [==============================] - 64s 76ms/step - loss: 0.0860 - accuracy: 0.9750
Epoch 3/20
840/840 [==============================] - 63s 75ms/step - loss: 0.0631 - accuracy: 0.9813
Epoch 4/20
840/840 [==============================] - 64s 77ms/step - loss: 0.0482 - accuracy: 0.9855
Epoch 5/20
840/840 [==============================] - 65s 78ms/step - loss: 0.0413 - accuracy: 0.9882
Epoch 6/20
840/840 [==============================] - 67s 79ms/step - loss: 0.0372 - accuracy: 0.9894
Epoch 7/20
840/840 [==============================] - 67s 80ms/step - loss: 0.0319 - accuracy: 0.9905
Epoch 8/20
840/840 [==============================] - 73s 87ms/step - loss: 0.0289 - accuracy: 0.9915
Epoch 9/20
840/840 [==============================] - 89s 106ms/step - loss: 0.0257 - accuracy: 0.9926
Epoch 10/20
840/840 [==============================] - 85s 101ms/step - loss: 0.0235 - accuracy: 0.9933
Epoch 11/20
840/840 [==============================] - 73s 87ms/step - loss: 0.0200 - accuracy: 0.9941
Epoch 12/20
840/840 [==============================] - 72s 85ms/step - loss: 0.0223 - accuracy: 0.9930
Epoch 13/20
840/840 [==============================] - 71s 85ms/step - loss: 0.0165 - accuracy: 0.9949
Epoch 14/20
840/840 [==============================] - 71s 84ms/step - loss: 0.0169 - accuracy: 0.9948
Epoch 15/20
840/840 [==============================] - 72s 86ms/step - loss: 0.0163 - accuracy: 0.9950
Epoch 16/20
840/840 [==============================] - 70s 84ms/step - loss: 0.0157 - accuracy: 0.9954
Epoch 17/20
840/840 [==============================] - 71s 85ms/step - loss: 0.0142 - accuracy: 0.9956
Epoch 18/20
840/840 [==============================] - 71s 85ms/step - loss: 0.0132 - accuracy: 0.9963
Epoch 19/20
840/840 [==============================] - 71s 84ms/step - loss: 0.0139 - accuracy: 0.9957
Epoch 20/20
840/840 [==============================] - 72s 86ms/step - loss: 0.0125 - accuracy: 0.9967

In [26]:

results = model.predict(test_x)

# select the index with the maximum probability
results = np.argmax(results,axis = 1)

results = pd.Series(results,name="Label")

875/875 [==============================] - 13s 15ms/step

In [27]:
submission = pd.concat([pd.Series(range(1,28001),name = "ImageId"),results],axis = 1)

submission.to_csv("digitreg_submission.csv",index=False)